[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyalex = "*"
django = "*"
pandas = "*"
black = "*"
matplotlib = "*"
scipy = "*"
xlrd = "*"
plotly = "*"
pyeucountrycodes = "*"
asyncio = "*"
geopy = "*"
seaborn = "*"
aiohttp = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.11"
